In [1]:
print("hello world ")

hello world

In [2]:
#systmm

In [3]:
a = "dataanalysis"
print(a)

dataanalysis

In [4]:
name = input("enter your name")
print(name)

enter your namedhruv
dhruv

In [5]:
age = int(input("enter age"))

enter age16

In [10]:
a = 45
b = 5.600
print(type(a))
print(type(b))
c =a + b 
print(type(c))

<class 'int'>
<class 'float'>
<class 'float'>

In [1]:
a = 19
b = 3 
print(a%b)

1

In [2]:
a = 67
b =3 
print(a%b)

1

In [3]:
print(3>4 or 3<4)

True

In [4]:
print(not(3>4 or 3<4))

False

In [5]:
a = 1234
b = "1234"
print(a is b)

False

In [6]:
a = 1234
b = "1234"
print(a is not b)

True

In [7]:
a = 10
b = 8
print(a & b)

8

In [1]:
a = "hello"
print("e" in a)

True

In [3]:
 mark = 91
    if mark > 90:
        print('you will get a mobile phone')
        print('thank you')

IndentationError: unexpected indent (117922725.py, line 2)

In [4]:
mark = 91
if mark > 90:
    print('you will get a mobile phone')
    print('thank you')

you will get a mobile phone
thank you

In [9]:
mark = 92
if mark >= 90 :
    print("you will get a phone")
else: 
    print("no phone for 1 week")

you will get a phone

In [ ]:
mark = 95 
if mark >= 90 :
    print("you can go to trip")
elif mark >= 80 and mark < 90:
    print("you will get a new phone")
elif mark >= 70 and mark < 80:
    print("you will get a new book")
else:
    print("you will not get your phone back")

In [ ]:
mark = 96
if marks>= 85:
    print("you will get a new phone")
if marks>95

In [ ]:
i = 1
n = 5
while i<=n :
    print(i)
    i = i + 1

In [ ]:
x = int(input("enter your value"))
i = 1
while i<= 10:
    print(x*i)
    i = i + 1
    print("this is the multiplication table")

In [ ]:
mark = 96
if marks>= 85:
    print("you will get a new phone")
if marks>95